.Knowledge {
	height: auto;
	overflow: hidden;
	transition: all 0.5s ease-out;
	.mmt-knowledge-row {
		.mmt-know-txt-wd {
			width: auto;
		}
		.mmt-project-name-div {
			display: flex;
			.mmt-project-name-img {
				width: 40%;
				.img-text {
					font-weight: 900;
					font-family: 'Poppins', sans-serif;
					margin: 0px;
					font: bold 380px sans;
					text-align: left !important;
					background-size: cover;
					background-clip: text;
					-webkit-background-clip: text;
					text-fill-color: transparent;
					-webkit-text-fill-color: transparent;
				}
			}
		}
	}
	.mmt-know-menu {
		height: 603px;
		overflow: scroll;
		border-left: 1px solid #dcdcdc;
		border-right: 1px solid #dcdcdc;
		overflow: auto;
		transition: all 0.5s ease-out;
		.mmt-subroute-dv {
			flex-direction: column;
			// .last-elem {
			// 	border-right: none !important;
			// }
			.mmt-know-project {
				height: 120px;
				width: 100%;
				border-bottom: 1px solid #dcdcdc;
				border-radius: 0px;
				align-items: center;
				justify-content: center;
				display: flex;
				padding: 10px;
				flex-direction: column;
				position: relative;
				background: none !important;
				color: #000000;
			}
		}
	}
	.mmt-know-menu::-webkit-scrollbar {
		display: none;
	}
	.mmt-know-btn {
		span {
			display: inline-block;
			width: 100%;
			margin-top: 10px;
			img {
				animation-fill-mode: forwards;
				animation-timing-function: easy-in;
			}
		}
	}
	.mmt-know-btn:hover {
		span {
			img {
				animation: slide 0.8s alternate infinite;
			}
		}
	}
	.btn-light:focus {
		box-shadow: none !important;
	}
	.nav-item {
		width: 100%;
		.nav-link {
			padding: 0px;
		}
	}
	.nav-pills .nav-link.active,
	.nav-pills .show > .nav-link {
		color: #000000;
		position: relative;
		&::before {
			content: '';
			position: absolute;
			height: 100%;
			width: 8px;
			border-radius: 100px;
			background: aqua;
			left: 0px;
			z-index: 1;
		}
	}
}

@keyframes slide {
	0% {
		transform: translate(0px, 0px) scale(1);
	}
	100% {
		transform: translate(20px, 0px) scale(1.1);
	}
}
// Custom bootstrap class
.btn-light {
	background-color: #ffffff !important;
	border-color: #ffffff !important;
	padding: 0px !important;
}
@media only screen and (max-width: 1200px) {
	.Knowledge {
		.mmt-project-name-img {
			width: 50% !important;
		}
	}
}

@media only screen and (max-width: 991px) {
	.Knowledge {
		height: 100% !important;
		.mmt-project-name-img {
			width: 40% !important;
		}
		.mmt-know-txt-wd {
			width: 100% !important;
			margin: 0 auto;
		}
		.mmt-know-menu {
			height: 120px;
			width: 100%;
			padding: 0px;
			border-left: 0px solid #dcdcdc;
			border-right: 0px solid #dcdcdc;
			border-top: 1px solid #dcdcdc;
			border-bottom: 1px solid #dcdcdc;
			overflow: auto;
			.mmt-subroute-dv {
				flex-direction: row;
				width: 100% !important;
				overflow-x: auto;
				flex-wrap: nowrap;
				.mmt-know-project {
					height: 120px;
					width: 120px;
					padding: 10px;
					border-left: 1px solid #dcdcdc;
					border-right: 1px solid #dcdcdc;
					border-bottom: 0px solid #dcdcdc;
					align-items: center;
					justify-content: center;
					display: flex;
					flex-direction: column;
					position: relative;
					.active {
						position: absolute;
						height: 7px;
						border-radius: 20%;
						width: 70%;
						background: #19b8a8;
						bottom: 0px;
						margin-left: auto;
						margin-right: auto;
						left: 0;
						right: 0;
					}
				}
			}
		}
		.nav-pills .nav-link.active,
		.nav-pills .show > .nav-link {
			color: #000000;
			position: relative;
			&::before {
				content: '';
				position: absolute;
				height: 8px;
				width: 100%;
				border-radius: 100px;
				background: aqua;
				bottom: 0px;
				z-index: 1;
			}
		}
	}

	.nav-item {
		width: auto !important;
		.nav-link {
			padding: 0px;
			background: none !important;
		}
	}
	.nav-link:active {
		background: none !important;
		//border-left: 10px solid aqua !important;
	}
}
@media only screen and (max-width: 767px) {
	.Knowledge {
		.mmt-project-name-img {
			width: 100% !important;
		}
	}
}
