.react-multi-carousel-list {
	z-index: 1000;
}

.react-multi-carousel-dot-list {
	// height: 1px;
	border-bottom: 1px solid #3e3e3e !important;
	margin-top: 50px !important;
	width: 70% !important;
	margin: 0 auto !important;
}
.react-multi-carousel-dot {
	position: relative !important;
	margin-right: 5% !important;
	height: 0px !important;
	width: 100px;
}
.react-multi-carousel-dot--active {
	width: 100px !important;
	height: 12px !important;
	// background: #9e5f0a !important;
}
.react-multi-carousel-dot--active button {
	background: #19b8a8 !important;
	width: 120px !important;
	height: 100% !important;
	border-radius: 5% !important;
	border: none !important;
	border-radius: 20px !important;
}
.react-multi-carousel-dot button {
	height: 0px;
	border: none;
}
.carousel-img-div {
	margin-bottom: 50px !important;
	width: 92%;
	height: 300px;
	margin-left: 5px;
	.feature-category-txt {
		bottom: 20%;
		left: 10px;
		border-radius: 5px;
		background: #389918;
		// box-shadow: 0px 3px 10px #000000;
		color: #ffffff;
		margin-bottom: 0px;
		display: none;
	}
	.feature-title-txt {
		bottom: 8%;
		left: 10px;
		border-radius: 5px;
		background: #111c30;
		// box-shadow: 0px 3px 10px #000000;
		color: #ffffff;
		font-weight: 300 !important;
		text-transform: capitalize;
	}
}
.car-img-inner {
	background-image: url(../../Assets/Images/Banner/banner-img-bg.svg);
	width: 90%;
}
.feature-button {
	bottom: 0px;
}
.mmt-mlt-car-img {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	// height: 98%;
	width: 93%;
	// position: absolute;
	// bottom: -15px;
	object-fit: cover;
}
@media only screen and (max-width: 576px) {
	.react-multi-carousel-dot {
		margin-right: 100px;
	}

	.react-multi-carousel-dot-list {
		display: none;
	}
	.carousel-img-div {
		height: 220px;
		.feature-title-txt {
			bottom: 6%;
		}
	}
}
