@import '../../Assets/Css/CommonScss.scss';
.projects{
    @include h2_style($color: $primary_color);
    @extend %section_gap;
    position: relative;
    @include dotted_style($Lvalue:20px, $Rvalue: inherit);
    .section{
        border-radius: 7px;
        overflow: hidden;
        &:hover{
            box-shadow: 0px 0px 20px #e7e7e7;
        }
    }
}
.call-to-action{
    padding-bottom: 50px;
}
.explore{
    width: 150px;
    height: 150px;
    background-color: $secondary_color;
    border-radius: 50%;
    margin: 0 auto;
    border: 0;
    color: #fff;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px 0 0;
    position: relative;
    cursor: pointer;
    // border:1px solid $secondary_color;
    transition:0.5s;
    font-weight: 600;
    p{
        font-size: 30px;
        margin-bottom: 0px;
    }
    svg{
        position: absolute;
    top: 2px;
    left: 0;
    right: 0;
    margin: 0 auto;
    path{
        stroke-dasharray: 428;
        stroke-dashoffset: 0;
        fill: transparent;
        stroke-width: 1px;
        stroke: #19b3a5;
        -webkit-animation: round 2.5s linear forwards;
        animation: round 2.5s linear forwards;
        display: none;
    }
    }
    &:hover{
        background: transparent;
        box-shadow: 0px 10px 10px #f1f1f1;
        svg{
            path{
                display: block;
            }
        }
        color: $primary_color;
    }
}
@keyframes round{
    0%{stroke-dashoffset: 0;}
    0%{stroke-dashoffset: 428;}
}