.AstrologyCards {
  width: 100%;
  height: auto;
}

.AstrologyCards .mmt-custom-top {
  margin-top: 0px;
}

.AstrologyCards .mmt-papercard-container .mmt-test-curve {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
}

.AstrologyCards .mmt-papercard-container .mmt-card-holder {
  display: -ms-grid;
  display: grid;
  grid-gap: 3.3rem;
  -ms-grid-columns: (minmax(17rem, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(17rem, 1fr));
}

.AstrologyCards .owl-carousel .mmt-about-service-in {
  border: 1px solid #c9c9d2;
}

.AstrologyCards .mmt-knowledge-row .mmt-know-txt-wd {
  width: 75%;
}

.AstrologyCards .mmt-knowledge-row .mmt-project-name-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.AstrologyCards .mmt-knowledge-row .mmt-project-name-div .mmt-project-name-img {
  width: 40%;
}

.AstrologyCards .mmt-knowledge-row .mmt-project-name-div .mmt-project-name-img .img-text {
  font-weight: 900;
  font-family: 'Poppins', sans-serif;
  margin: 0px;
  font: bold 450px sans;
  text-align: left !important;
  background-size: 100% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
}

.AstrologyCards .mmt-knowledge-row .mmt-project-name-div .mmt-project-name-img .mmt-project-img {
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.AstrologyCards .mmt-know-menu {
  width: 100%;
  margin-top: 50px;
  position: relative;
}

.AstrologyCards .mmt-know-menu .mmt-subroute-dv {
  width: 100%;
  overflow: auto;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.AstrologyCards .mmt-know-menu .mmt-subroute-dv .mmt-know-project {
  padding-bottom: 20px;
  min-width: 120px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  background: none !important;
  color: #5b5b5b;
}

.AstrologyCards .mmt-know-menu .mmt-subroute-dv .mmt-know-project h3 {
  font-size: 20px;
}

.AstrologyCards .mmt-know-menu .mmt-subroute-dv::-webkit-scrollbar {
  display: none;
}

.AstrologyCards .mmt-know-btn span {
  display: inline-block;
  width: 100%;
  margin-top: 10px;
}

.AstrologyCards .mmt-know-btn span img {
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: easy-in;
          animation-timing-function: easy-in;
  /*display: none;*/
}

.AstrologyCards .mmt-know-btn:hover span img {
  -webkit-animation: slide 0.8s alternate infinite;
          animation: slide 0.8s alternate infinite;
}

.AstrologyCards .btn-light:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.AstrologyCards .nav-link::after {
  content: '';
  position: absolute;
  height: 1px;
  width: 100%;
  border-radius: 50px;
  background: #bababa;
  bottom: 4px;
}

.AstrologyCards .nav-pills .nav-link.active,
.AstrologyCards .nav-pills .show > .nav-link {
  color: #000000;
  position: relative;
}

.AstrologyCards .nav-pills .nav-link.active::before,
.AstrologyCards .nav-pills .show > .nav-link::before {
  content: '';
  position: absolute;
  height: 8px;
  width: 100%;
  border-radius: 100px;
  background: aqua;
  bottom: 0px;
  z-index: 1;
}

.AstrologyCards .item {
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.AstrologyCards .item img {
  height: 40px;
  width: auto;
}

.AstrologyCards .mmt-car-content {
  height: 510px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.AstrologyCards .extra-marg {
  margin-top: 160px !important;
}

.AstrologyCards .astrology-card-header {
  min-height: 125px;
}

@media only screen and (max-width: 767px) {
  .AstrologyCards .mmt-about-service-in {
    border-right: none;
  }
  .AstrologyCards .mmt-know-menu .mmt-subroute-dv {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media only screen and (max-width: 576px) {
  .AstrologyCards .mmt-custom-top {
    margin-top: 30px;
  }
  .AstrologyCards .mmt-resp-font-xl {
    font-size: 40px;
  }
}
/*# sourceMappingURL=AstrologyCards.css.map */