.ChiropractorCards {
	width: 100%;
	height: auto;
	.mmt-papercard-container {
		.mmt-form-div {
			box-shadow: 0px 5px 20px #0000001c;
		}
		.mmt-test-curve {
			position: absolute;
			margin: auto;
			left: 0;
			right: 0;
		}
	}
	.mmt-right-txt {
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
	.mmt-company {
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		width: 40%;
	}
	.mmt-blockchain-crd {
		box-shadow: 0px 25px 50px #00000029;
	}
	.mmt-chiro-player {
		height: 445px !important;
		top: 0;
		box-shadow: 0px 30px 60px #0000007a;
	}
	.mmt-play-btn {
		bottom: 50px;
		right: 50px;
		z-index: 100;
		width: 145px;
		position: absolute;
		height: 144px;
		background: transparent !important;
		border: none !important;
	}
	.mmt-red-img {
		position: absolute;
		margin: auto;
		right: 0;
	}
	.mmt-chiro-main-cont {
		background: #191b27;
		margin-top: 200px;
		padding-top: 250px;
		padding-bottom: 70px;
	}
	.mmt-block-accord {
		background-position: top;
		background-size: cover;
		background-repeat: no-repeat;
		width: 90%;
		box-shadow: 0px 20px 30px #00000026;
	}
	.mmt-accord-txt {
		position: absolute;
		left: 0px;
		bottom: -50px;
		border-radius: 7px;
		background: #ffffff;
		box-shadow: 0px 3px 20px #00000012;
		height: 35%;
		width: 50%;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
	}
	.mmt-img-dv {
		width: 30px;
		height: 30px;
		border-radius: 50%;
		background: #000000;
	}
	.mmt-review-dv {
		height: 80%;
	}
	.accordion {
		border: none !important;
	}
	.accordion__button {
		display: flex !important;
		position: relative;
	}
	.accordion__button::before {
		position: absolute;
		right: 20px;
		top: 25px;
	}
	.mmt-card-chiro-one {
		width: 33.33%;
		padding-top: 300px;
	}
	.mmt-card-chiro-two {
		width: 33.33%;
		padding-top: 50px;
	}
	.mmt-card-chiro-three {
		width: 33.33%;
	}
	.mmt-chiro-cont-div {
		background: #f1a3eb;
		height: 161px;
		width: 96%;
		margin: 7px;
	}
	.mmt-banner-spin {
		position: absolute;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 70%;
		height: 100%;
		overflow: hidden;
		margin: 0 auto;
		left: 0;
		right: -400px;
		.mmt-banner-main-path {
			width: 98%;
			position: absolute;
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			opacity: 0.4;
			-webkit-animation: rotate 7s linear infinite;
			-webkit-animation-direction: normal;
		}
		.mmt-banner-second-path {
			width: 70%;
			position: absolute;
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			opacity: 0.4;
			-webkit-animation: rotate 7s linear infinite;
			-webkit-animation-direction: reverse;
		}
		.mmt-banner-third-path {
			width: 55%;
			position: absolute;
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			opacity: 0.4;
			-webkit-animation: rotate 7s linear infinite;
			-webkit-animation-direction: normal;
		}
		.mmt-banner-fourth-path {
			width: 40%;
			position: absolute;
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			opacity: 0.4;
			-webkit-animation: rotate 7s linear infinite;
			-webkit-animation-direction: reverse;
		}
		@keyframes rotate {
			0% {
				transform: rotate(0deg);
			}
			100% {
				transform: rotate(360deg);
			}
		}
	}
}

@media only screen and (max-width: 992px) {
	.ChiropractorCards {
		width: 100%;
		height: auto;
		.mmt-papercard-container {
			.mmt-test-curve {
				position: absolute;
				margin: auto;
				left: 0;
				right: 0;
			}
		}
	}
}
