.ContactUsForm {
	// flex: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	// .sn-login-heading {
	// 	margin-bottom: 48px;
	// }
	.mmt-contact-before {
		position: relative;
	}
	.mmt-contact-before ::before {
		content: '';
		position: absolute;
		top: 0px;
		right: 0px;
		width: 1px;
		background: #8a8a8a;
		height: 100%;
	}
	.form-group {
		height: 105px;
		.is-invalid {
			.react-select__control{
				border-color: #dc3545 !important;
				background-image: none;
			}
		}
		label {
			display: inline-block;
			margin-bottom: 0px !important;
			font-size: 16px;
			font-weight: 300;
			// padding-left: 12px;
			color: #000000;
			letter-spacing: 0.5px;
			
		}
		.form-control {
			display: block;
			width: 100%;
			height: 60px;
			font-size: 15px;
			font-weight: 400;
			line-height: 1.5;
			color: #495057;
			background-color: #fff;
			background-clip: padding-box;
			border: 1px solid #cacad3 !important;
			border-radius: 5px !important;
			padding-right: 38px;
			// box-shadow:  0 10px 10px -10px #000000 !important;
			&.is-invalid {
				border-color: #dc3545 !important;
				background-image: none;
			}
			&::placeholder {
				font-size: 14px;
			}
		}
		.error-border{
			border-color: #dc3545 !important;
		}
		.form-control:focus {
			/* color: #495057; */
			background-color: #fff;
			border-color: #966bd2 !important;
			outline: 0;
			box-shadow: 0px 3px 6px #00000029 !important;
		}
		input:-webkit-autofill,
		input:-webkit-autofill:hover,
		input:-webkit-autofill:focus,
		input:-webkit-autofill:active {
			transition: background-color 5000s ease-in-out 0s !important;
			font-size: 14px;
		}
	}
	.select-file {
		height: 29px;
		border-radius: 4px;
		border: 1px solid #cacad3;
		background: #f5f5f5;
		font-size: 14px;
		color: #495057;
		width: 100%;
		padding-right: 30px;
	}
	.select-form {
		.form-group {
			display: flex;
			justify-content: center;
			align-items: flex-start;
			flex-direction: column;
			width: 100%;
		}
	}
	.btn-dlt {
		right: 0px !important;
		background: none;
		color: #5cb9a9;
		border: none;
		right: 8px !important;
		bottom: 0px;
		padding: 0px;
		top: 51px;
		height: 25%;
	}

	.btn-dlt:hover {
		background: none;
		color: red;
	}
	.btn-dlt-2 {
		background: none;
		color: #5cb9a9;
		border: none;
		right: 8px !important;
		bottom: 0px;
		padding: 0px !important;
		top: 27px;
		height: 50%;
		margin: 0 auto;
	}

	.btn-dlt-2:hover {
		background: none;
		color: red;
	}
	.pd-x {
		padding-left: 100px;
		padding-right: 100px;
	}
	.password-visibility-btn {
		right: 1px;
	}
	.css-yk16xz-control {
		height: 60px !important;
		border-color: #cacad3 !important;
	}
	.css-1pahdxg-control {
		height: 60px !important;
	}
	.css-1pahdxg-control {
		/* color: #495057; */
		background-color: #fff;
		border-color: #966bd2 !important;
		outline: 0;
		box-shadow: 0px 3px 6px #00000029 !important;
	}
	.css-1uccc91-singleValue {
		color: #495057;
	}
	.react-select__value-container {
		font-size: 15px;
		font-weight: 400;
		color: #495057 !important;
	}
	.react-select__menu-list {
		font-size: 1rem;
		color: #495057;
		font-weight: 300;
	}
	.file-input-width {
		width: 50%;
	}
}
@media only screen and (max-width: 1200px) {
	.ContactUsForm {
		.mmt-contact-before ::before {
			display: none;
		}
	}
}

@media only screen and (max-width: 992px) {
	.ContactUsForm {
		.mmt-link-row {
			margin-top: 210px;
		}
	}
}
@media only screen and (max-width: 576px) {
	.ContactUsForm {
		.form-group {
			height: 75px;
			label {
				display: inline-block;
				margin-bottom: 0px !important;
				font-size: 16px;
				font-weight: 300;
				// padding-left: 12px;
				color: #000000;
				letter-spacing: 0.5px;
			}
			.form-control {
				display: block;
				width: 100%;
				height: 45px;
				font-size: 1rem;
				font-weight: 400;
				line-height: 1.5;
				color: #495057;
				background-color: #fff;
				background-clip: padding-box;
				border: 1px solid #cacad3 !important;
				border-radius: 5px !important;
				// box-shadow:  0 10px 10px -10px #000000 !important;
				&.is-invalid {
					border-color: #dc3545 !important;
				}
				&::placeholder {
					font-size: 12px;
				}
			}
			.form-control:focus {
				/* color: #495057; */
				background-color: #fff;
				border-color: #966bd2 !important;
				outline: 0;
				box-shadow: 0px 3px 6px #00000029 !important;
			}
			input:-webkit-autofill,
			input:-webkit-autofill:hover,
			input:-webkit-autofill:focus,
			input:-webkit-autofill:active {
				transition: background-color 5000s ease-in-out 0s !important;
				font-size: 14px;
			}
		}
		.css-yk16xz-control {
			height: 45px !important;
		}
		.css-1pahdxg-control {
			height: 45px !important;
		}

		.file-input-width {
			width: 70%;
		}

		.btn-dlt {
			top: 38px;
		}
	}
}
