.WhitePaperForm {
	flex: auto;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	padding: 25px;
	.sn-login-heading {
		margin-bottom: 48px;
	}
	.form-group {
		height: 105px;
		label {
			display: inline-block;
			margin-bottom: 0px !important;
			font-size: 16px;
			font-weight: 300;
			// padding-left: 12px;
			color: #000000;
			letter-spacing: 0.5px;
		}
		.form-control {
			display: block;
			width: 100%;
			height: 60px;
			font-size: 1rem;
			font-weight: 400;
			line-height: 1.5;
			color: #495057;
			background-color: #fff;
			background-clip: padding-box;
			border: 1px solid #cacad3 !important;
			border-radius: 5px !important;
			padding-right: 55px;
			// box-shadow:  0 10px 10px -10px #000000 !important;
			&.is-invalid {
				border-color: #dc3545 !important;
				background-image: none !important;
			}
			&::placeholder {
				font-size: 12px;
			}
		}
		.error-border{
			border-color: #dc3545 !important;
		}
		.form-control:focus {
			/* color: #495057; */
			background-color: #fff;
			border-color: #966bd2 !important;
			outline: 0;
			box-shadow: 0px 3px 6px #00000029 !important;
		}
		input:-webkit-autofill,
		input:-webkit-autofill:hover,
		input:-webkit-autofill:focus,
		input:-webkit-autofill:active {
			transition: background-color 5000s ease-in-out 0s !important;
			font-size: 14px;
		}
	}
	.password-visibility-btn {
		right: 1px;
	}
	.css-yk16xz-control {
		height: 60px !important;
	}
	.css-1pahdxg-control {
		height: 60px !important;
	}
}

@media only screen and (max-width: 991px) {
	.sn-login-heading {
		margin-bottom: 32px !important;
		margin-top: 20px;
	}
}
