.FaqCards {
	width: 100%;
	height: auto;
	margin-top: 100px;
	.mmt-papercard-container {
		.mmt-form-div {
			box-shadow: 0px 5px 20px #0000001c;
		}
		.mmt-test-curve {
			position: absolute;
			margin: auto;
			left: 0;
			right: 0;
		}
		.searchBar {
			width: 100%;
			height: 60px;
			border-radius: 7px;
			margin-top: 8px;
			.mmt-search-inputs {
				width: 100%;
				height: 100%;
				border-radius: 7px;
				position: relative;
				.mmt-search-input-field {
					width: 100%;
					height: 100%;
					padding: 20px 40px 20px 20px;
					border-radius: 4px;
					border: 1px solid #cacad3;
					outline: none !important;
					::placeholder {
						color: #cacad3;
					}
				}
				.mmt-search-input-field:focus {
					outline: none !important;
					border: 1px solid #966bd2 !important;
					box-shadow: 0px 3px 6px #00000029;
				}
				.mmt-search-icons {
					position: absolute;
					right: 15px;
					bottom: 15px;
					color: #cacad3;
				}
			}
		}
	}
	.mmt-mobile-footer-ind {
		border-bottom: 1px solid #a9a9a9 !important;
	}
	.mmt-right-txt {
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
	.mmt-company {
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		width: 40%;
	}
	.mmt-blockchain-crd {
		box-shadow: 0px 25px 50px #00000029;
	}
	.mmt-chiro-player {
		height: 445px !important;
		top: 0;
		box-shadow: 0px 30px 60px #0000007a;
	}
	.mmt-play-btn {
		bottom: 50px;
		right: 50px;
		z-index: 100;
		width: 145px;
		position: absolute;
		height: 144px;
		background: transparent !important;
		border: none !important;
	}
	.mmt-red-img {
		position: absolute;
		margin: auto;
		right: 0;
	}
	.mmt-chiro-main-cont {
		background: #191b27;
		margin-top: 200px;
		padding-top: 250px;
		padding-bottom: 70px;
	}
	.mmt-block-accord {
		background-position: top;
		background-size: cover;
		background-repeat: no-repeat;
		width: 90%;
		box-shadow: 0px 20px 30px #00000026;
	}
	.mmt-accord-txt {
		position: absolute;
		left: 0px;
		bottom: -50px;
		border-radius: 7px;
		background: #ffffff;
		box-shadow: 0px 3px 20px #00000012;
		height: 35%;
		width: 50%;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
	}
	.mmt-img-dv {
		width: 30px;
		height: 30px;
		border-radius: 50%;
		background: #000000;
	}
	.mmt-review-dv {
		height: 80%;
	}
	.accordion {
		border: none !important;
	}
	.accordion__button {
		display: flex !important;
		position: relative;
		background-color: #ffffff !important;
	}
	.accordion__button::before {
		position: absolute;
		right: 20px;
		top: 25px;
		background-image: url(../../../Assets/Images/Common/plus.png);
		width: 15px;
		height: 20px;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		border-right: 0px;
		border-bottom: 0px;
		transform: rotate(0deg);
	}
	.accordion__button[aria-expanded='true']::before,
	.accordion__button[aria-selected='true']::before {
		background-image: url(../../../Assets/Images/Common/minus.png);
	}
	.accordion__button:focus-visible {
		border: none;
		outline: 0 !important;
		box-shadow: none !important;
	}
	.accordion-button:not(.collapsed) {
		box-shadow: none !important;
	}
	.accordion__button:focus {
		border: none;
		box-shadow: none !important;
		outline: 0 !important;
	}
	.mmt-card-chiro-one {
		width: 33.33%;
		padding-top: 300px;
	}
	.mmt-card-chiro-two {
		width: 33.33%;
		padding-top: 50px;
	}
	.mmt-card-chiro-three {
		width: 33.33%;
	}
	.mmt-chiro-cont-div {
		// background: #f1a3eb;
		height: 161px;
		width: 96%;
		margin: 7px;
	}
}
@media only screen and (max-width: 992px) {
	.FaqCards {
		width: 100%;
		height: auto;
		.mmt-papercard-container {
			.mmt-test-curve {
				position: absolute;
				margin: auto;
				left: 0;
				right: 0;
			}
		}
	}
}
