@import '../../Assets/Css/CommonScss.scss';
footer{
    background: $primary_color;

    .office{
        
        @extend %section_gap;
        @include h2_style($color: #ffffff);
    }
    .address{
        h4{
            color: #ffffff;
            font-size: 20px;
            font-weight: 300;
        }
        ul{
            li{
                display: flex;
                align-items:flex-start;
                span{
                    display: inline-block;
                    margin-right: 10px;
                }
            }
        }
        p, a{
            font-size: 16px;
            color: #ffffff;
            font-weight: 300;
        }
        .india{
            margin-bottom: 30px;
        }
    }
    .certified{
        .certified-logo{
            li{
                flex:0 0 calc(100% / 3);
                margin-bottom: 30px;
                img{
                    max-width: 100%;
                }
            }
        }
        h4{
                color: #ffffff;
                font-size: $mediam_font + 2px;
                font-weight: 500;
                margin-bottom: 20px;
            }
        .links{
            
            ul{
                width: 50%;
                float: left;
                li{
                    a{
                        color: #ffffff;
                        font-size: 16px;
                        font-weight: 300;
                        background: url(../../Assets/Images/Home/arrow02.png) no-repeat 5px center;
                        padding-left: 30px;
                        margin-bottom: 15px;
                        &:hover{
                            color: $secondary_color;
                        }
                    }
                }
            }
        }
    }
    .terms{
        ul{
            li{
                &:last-child{
                    a{
                        margin-right: 0px;

                    }
                }
            }
        }
        a{
            font-size: 16px;
            font-weight: 300;color: #ffffff;
            margin-right: 30px;
            &:hover{
                            color: $secondary_color;
                        }
        }
        padding: 30px 0px;
    }
    .social{
        position: relative;
        z-index: 0;
        margin-bottom: 30px;
        &:after{
            content: '';
            position: absolute;
            width: 100%;
            height: 1px;
            background: $secondary_color;
            top:20px;
            left:0px;
            z-index: 0;
        }
        ul{
            li{
                padding: 0px 10px;
                background: $primary_color;
                z-index: 9;
                &:last-child{
                    margin-right: 0px;
                }
            }
        }
        a{
            
            z-index: 2;
            position: relative;
        }
    }
    .copy{
        color: #ffffff;
        font-size: 12px;
    }
}