.FeatureProjectCards {
  width: 100%;
  height: auto;
}

.FeatureProjectCards .mmt-papercard-container .mmt-form-div {
  -webkit-box-shadow: 0px 5px 20px #0000001c;
          box-shadow: 0px 5px 20px #0000001c;
}

.FeatureProjectCards .mmt-papercard-container .mmt-test-curve {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
}

.FeatureProjectCards .mmt-knowledge-row .mmt-project-name-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.FeatureProjectCards .mmt-knowledge-row .mmt-project-name-div .mmt-project-name-img {
  width: 40%;
}

.FeatureProjectCards .mmt-knowledge-row .mmt-project-name-div .mmt-project-name-img .img-text {
  font-weight: 900;
  font-family: 'Poppins', sans-serif;
  margin: 0px;
  font: bold 450px sans;
  text-align: left !important;
  background-size: 100% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
}

.FeatureProjectCards .mmt-knowledge-row .mmt-project-name-div .mmt-project-name-img .mmt-project-img {
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.FeatureProjectCards .mmt-know-menu {
  overflow: scroll;
  overflow: auto;
}

.FeatureProjectCards .mmt-know-menu .mmt-subroute-dv {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid #dcdcdc;
}

.FeatureProjectCards .mmt-know-menu .mmt-subroute-dv .mmt-know-project {
  height: 120px;
  width: 100%;
  border-bottom: 1px solid #dcdcdc;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  background: none !important;
  color: #000000;
}

.FeatureProjectCards .mmt-know-menu .mmt-subroute-dv .mmt-know-project .active {
  position: absolute;
  height: 70%;
  border-radius: 20%;
  width: 7px;
  background: #19b8a8;
  left: -12px;
}

.FeatureProjectCards .mmt-block-canvas {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.FeatureProjectCards .mmt-right-txt {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.FeatureProjectCards .mmt-company {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 40%;
}

.FeatureProjectCards .mmt-blockchain-crd {
  -webkit-box-shadow: 0px 25px 50px #00000029;
          box-shadow: 0px 25px 50px #00000029;
}

.FeatureProjectCards .mmt-block-solution {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.FeatureProjectCards .nav-item {
  width: 100%;
  background-color: #f9f9f9;
}

.FeatureProjectCards .nav-item .nav-link {
  padding: 0px;
}

.FeatureProjectCards .nav-pills .nav-link.active,
.FeatureProjectCards .nav-pills .show > .nav-link {
  color: #000000;
  position: relative;
}

.FeatureProjectCards .nav-pills .nav-link.active::before,
.FeatureProjectCards .nav-pills .show > .nav-link::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 8px;
  border-radius: 100px;
  background: aqua;
  left: 0px;
  z-index: 1;
}

.FeatureProjectCards .mmt-hukoomi-big-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

@media only screen and (max-width: 992px) {
  .FeatureProjectCards {
    width: 100%;
    height: auto;
  }
  .FeatureProjectCards .mmt-papercard-container .mmt-test-curve {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
  }
}

@media only screen and (max-width: 991px) {
  .FeatureProjectCards .mmt-know-menu {
    height: 121px;
    width: 100%;
    padding: 0px;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .FeatureProjectCards .mmt-know-menu .mmt-subroute-dv {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    overflow-y: hidden;
    overflow-x: auto;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .FeatureProjectCards .mmt-know-menu .mmt-subroute-dv .mmt-know-project {
    height: 120px;
    width: 120px;
    padding: 10px;
    border-left: 1px solid #dcdcdc;
    border-right: 1px solid #dcdcdc;
    border-bottom: 0px solid #dcdcdc;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
  }
  .FeatureProjectCards .nav-item {
    width: auto !important;
  }
  .FeatureProjectCards .nav-item .nav-link {
    padding: 0px;
    background: none !important;
  }
  .FeatureProjectCards .nav-pills .nav-link.active,
  .FeatureProjectCards .nav-pills .show > .nav-link {
    color: #000000;
    position: relative;
  }
  .FeatureProjectCards .nav-pills .nav-link.active::before,
  .FeatureProjectCards .nav-pills .show > .nav-link::before {
    content: '';
    position: absolute;
    height: 8px;
    width: 100%;
    border-radius: 100px;
    background: aqua;
    bottom: 0px;
    z-index: 1;
  }
}
/*# sourceMappingURL=FeatureProjectCards.css.map */