.AboutUsCards {
	width: 100%;
	height: auto;
	.mmt-papercard-container {
		.mmt-resp-font-xl {
			font-size: 60px;
		}
		.mmt-test-curve {
			position: absolute;
			margin: auto;
			left: 0;
			right: 0;
		}
		.mmt-card-holder {
			display: grid;
			grid-gap: 3.3rem;
			grid-template-columns: repeat(auto-fill, minmax(17rem, 1fr));
		}
	}
	.owl-carousel {
		.mmt-about-service-in {
			border: 1px solid #c9c9d2;
		}
	}
	.mmt-car-content {
		height: 510px;
		display: flex;
		justify-content: flex-start;
		flex-direction: column;
	}
	.mmt-co-founder {
		margin-top: 50px;
		.mmt-co-founder-img {
			height: 520px;
			width: 60%;
			background-image: url(../../../Assets/Images/AboutUs//about-main.webp);
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
		}
		.mmt-co-founder-detail {
			height: 500px;
			width: 50%;
			position: absolute;
			background: #ffffff;
			box-shadow: 0px 3px 20px #00000012;
			right: 0px;
			bottom: -50px;
			padding: 50px;
			display: flex;
			justify-content: center;
			flex-direction: column;
			align-items: flex-start;
			line-height: 33px;
		}
	}
	.mmt-post {
		margin-top: 100px;
		.mmt-post-img {
			height: 400px;
			width: 80%;
			background-image: url(../../../Assets/Images/Teams/dummy-image.webp);
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
		}
		.mmt-post-detail {
			height: 120px;
			width: 50%;
			position: absolute;
			background: #ffffff;
			box-shadow: 0px 3px 20px #00000012;
			right: 0px;
			bottom: -50px;
			padding: 20px;
			display: flex;
			justify-content: center;
			flex-direction: column;
			align-items: flex-start;
			line-height: 33px;
		}
	}
}

@media only screen and (max-width: 1199px) {
	.AboutUsCards {
		.mmt-co-founder {
			.mmt-co-founder-img {
				height: 620px;
			}
			.mmt-co-founder-detail {
				height: 600px;
			}
		}
	}
}
@media only screen and (max-width: 992px) {
	.AboutUsCards {
		.mmt-co-founder {
			.mmt-co-founder-img {
			}
			.mmt-co-founder-detail {
				padding: 25px;
			}
		}
	}
}
@media only screen and (max-width: 767px) {
	.AboutUsCards {
		.mmt-co-founder {
			.mmt-co-founder-img {
				width: 100%;
				height: 700px;
			}
			.mmt-co-founder-detail {
				width: 100%;
				position: relative;
				height: 480px;
				padding: 25px;
				line-height: 26px;
			}
		}
		.mmt-about-service-in {
			border-right: none;
		}
		.mmt-about-service {
			.mmt-about-key {
				height: auto;
			}
		}
	}
}
@media only screen and (max-width: 576px) {
	.AboutUsCards {
		.mmt-papercard-container {
			.mmt-resp-font-xl {
				font-size: 40px;
			}
		}
	}
}
