.Footer {
	background: #12131c;
	.mmt-footer-pd-top {
		padding-top: 70px;
	}
	.mmt-footer-top-arrow {
		position: absolute;
		top: 0px;
		background-repeat: no-repeat;
		width: 28%;
		left: 8%;
	}
	.mk{
		font-size: 30px;
	}
	.mmt-footer-bottom-arrow {
		position: absolute;
		bottom: -30px;
		left: 27px;
		background-repeat: no-repeat;
		width: 6%;
	}
	.mmt-footer-line-circle {
		position: absolute;
		top: 30px;
		right: -20px;
		width: 12%;
	}
	.mmt-footer-btn {
		width: 150px;
		height: 150px;
		border-radius: 50%;
		.mmt-button-arrow {
			width: 35px;
		}
	}
	// // Animated Footer Btn Start Here
	// .button-animation {
	// 	text-align: center;
	// 	margin: 50px 0px;
	// 	.btn {
	// 		width: 150px;
	// 		height: 150px;
	// 		background-color: #482080;
	// 		border-radius: 50%;
	// 		margin: 0 auto;
	// 		border: 0px;
	// 		color: #ffffff;
	// 		font-size: 16px;
	// 		display: flex;
	// 		flex-direction: column;
	// 		align-items: center;
	// 		justify-content: center;
	// 		padding: 20px 0px 0px;
	// 		position: relative;
	// 		cursor: pointer;
	// 		svg {
	// 			position: absolute;
	// 			top: 2px;
	// 			left: 0px;
	// 			right: 0px;
	// 			margin: 0 auto;
	// 			path {
	// 				stroke-dasharray: 428;
	// 				stroke-dashoffset: 0;
	// 				fill: transparent;
	// 				stroke-width: 1px;
	// 				stroke: #ffffff;
	// 				animation: round 2.5s linear forwards;
	// 				display: none;
	// 			}
	// 		}
	// 		span {
	// 			display: inline-block;
	// 			width: 100%;
	// 			margin-top: 10px;
	// 			img {
	// 				animation-fill-mode: forwards;
	// 				animation-timing-function: easy-in;
	// 				/*display: none;*/
	// 			}
	// 		}
	// 	}
	// 	.btn:hover {
	// 		background-color: #19b8a8;
	// 		svg {
	// 			path {
	// 				display: block;
	// 			}
	// 		}
	// 		span {
	// 			img {
	// 				animation: slide 0.8s alternate infinite;
	// 			}
	// 		}
	// 	}
	// }
	// @keyframes slide {
	// 	0% {
	// 		transform: translate(0px, 0px) scale(1);
	// 	}
	// 	100% {
	// 		transform: translate(20px, 0px) scale(1.1);
	// 	}
	// }
	// @keyframes round {
	// 	0% {
	// 		/*stroke-dasharray: 427;*/
	// 		stroke-dashoffset: 428;
	// 	}
	// 	100% {
	// 		/*stroke-dasharray: 0;*/
	// 		stroke-dashoffset: 0;
	// 	}
	// }
	// Animated Footer Button Ends Here

	.mmt-footer-office-row {
		border-top: 1px solid #707070;
		border-bottom: 1px solid #707070;
		display: flex;
		.mmt-bg-india {
			height: 340px;
			position: relative;
			// transition-timing-function: ease-in-out;
			.mmt-footerback-dv {
				width: 100%;
				position: absolute;
				top: 0;
				right: 0;
				height: 100%;
				width: 100%;
				z-index: 1;
				.mmt-footeback-img {
					display: none;
				}
			}
			.mmt-blur-div {
				display: none;
				z-index: 2;
			}
			.mmt-hover-top {
				display: none;
				z-index: 3;
			}
			.mmt-info-div {
				z-index: 4;
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				justify-content: flex-start;
			}
		}
		.mmt-bg-india:hover {
			.mmt-footerback-dv {
				.mmt-footeback-img {
					display: flex;
					height: 100%;
					width: 100%;
					transition: opacity 0.3s;
					background-repeat: no-repeat;
					background-size: cover;
					background-position: center;
				}
			}
			.mmt-blur-div {
				display: block;
				background: rgba(0, 0, 0, 0.7);
				height: 100%;
				width: 100%;
				position: absolute;
				top: 0;
				left: 0;
			}
			.mmt-hover-top {
				display: block;
				width: 60px;
				height: 8px;
				border-radius: 10px;
				background: #19b8a8;
				position: absolute;
				top: 5px;
				right: 5px;
			}
		}
		.mmt-bg-usa {
			height: 340px;
			position: relative;
			.mmt-footerback-dv {
				width: 100%;
				position: absolute;
				top: 0;
				right: 0;
				height: 100%;
				width: 100%;
				z-index: 1;
				.mmt-footeback-img {
					display: none;
				}
			}
			.mmt-blur-div {
				display: none;
				z-index: 2;
			}
			.mmt-hover-top {
				display: none;
				z-index: 3;
			}
			.mmt-info-div {
				z-index: 4;
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				justify-content: flex-start;
			}
		}
		.mmt-bg-usa:hover {
			.mmt-footerback-dv {
				.mmt-footeback-img {
					display: flex;
					height: 100%;
					width: 100%;
					transition: opacity 0.3s;
					background-repeat: no-repeat;
					background-size: cover;
					background-position: center;
				}
			}
			.mmt-blur-div {
				display: block;
				background: rgba(0, 0, 0, 0.7);
				height: 100%;
				width: 100%;
				position: absolute;
				top: 0;
				left: 0;
			}
			.mmt-hover-top {
				display: block;
				width: 60px;
				height: 8px;
				border-radius: 10px;
				background: #19b8a8;
				position: absolute;
				top: 5px;
				right: 5px;
			}
		}
		.mmt-bg-uk {
			height: 340px;
			position: relative;
			.mmt-footerback-dv {
				width: 100%;
				position: absolute;
				top: 0;
				right: 0;
				height: 100%;
				width: 100%;
				z-index: 1;
				.mmt-footeback-img {
					display: none;
				}
			}
			.mmt-blur-div {
				display: none;
				z-index: 2;
			}
			.mmt-hover-top {
				display: none;
				z-index: 3;
			}
			.mmt-info-div {
				z-index: 4;
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				justify-content: flex-start;
			}
		}
		.mmt-bg-uk:hover {
			.mmt-footerback-dv {
				.mmt-footeback-img {
					display: flex;
					height: 100%;
					width: 100%;
					transition: opacity 0.3s;
					background-repeat: no-repeat;
					background-size: cover;
					background-position: center;
				}
			}
			.mmt-blur-div {
				display: block;
				background: rgba(0, 0, 0, 0.7);
				height: 100%;
				width: 100%;
				position: absolute;
				top: 0;
				left: 0;
			}
			.mmt-hover-top {
				display: block;
				width: 60px;
				height: 8px;
				border-radius: 10px;
				background: #19b8a8;
				position: absolute;
				top: 5px;
				right: 5px;
			}
		}
		.mmt-bg-cnd {
			height: 340px;
			position: relative;
			.mmt-footerback-dv {
				width: 100%;
				position: absolute;
				top: 0;
				right: 0;
				height: 100%;
				width: 100%;
				z-index: 1;
				.mmt-footeback-img {
					display: none;
				}
			}
			.mmt-blur-div {
				display: none;
				z-index: 2;
			}
			.mmt-hover-top {
				display: none;
				z-index: 3;
			}
			.mmt-info-div {
				z-index: 4;
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				justify-content: flex-start;
			}
		}
		.mmt-bg-cnd:hover {
			.mmt-footerback-dv {
				.mmt-footeback-img {
					display: flex;
					height: 100%;
					width: 100%;
					transition: opacity 0.3s;
					background-repeat: no-repeat;
					background-size: cover;
					background-position: center;
				}
			}
			.mmt-blur-div {
				display: block;
				background: rgba(0, 0, 0, 0.7);
				height: 100%;
				width: 100%;
				position: absolute;
				top: 0;
				left: 0;
			}
			.mmt-hover-top {
				display: block;
				width: 60px;
				height: 8px;
				border-radius: 10px;
				background: #19b8a8;
				position: absolute;
				top: 5px;
				right: 5px;
			}
		}
		.mmt-footer-office-center {
			border-left: 1px solid #707070;
		}
		.mmt-footer-flag {
			width: 30px;
			height: 30px;
			border-radius: 50%;
			background: #ffffff;
		}
	}
	.mmt-footer-mobile-office {
		display: none;
	}
	.mmt-footer-company-row {
		.mmt-footer-company-div {
			img {
				width: 12% !important;
				margin: 0px 2px;
			}
		}
	}
	.mmt-footer-social-row {
		.mmt-footer-social-div {
			a {
				width: 9%;
				margin: 0px 5px;
			}
		}
	}
	.mmt-mobile-footer-location {
		display: none;
	}
}
@media only screen and (max-width: 576px) {
	.Footer {
		.mmt-footer-social-row {
			.mmt-footer-social-div {
				a {
					width: 10% !important;
				}
			}
		}
	}
}

@media only screen and (max-width: 767px) {
	.Footer {
		.mmt-footer-office-row {
			.mmt-footer-office-center {
				border-left: none !important;
			}
		}
	}
	.mmt-footer-top-arrow {
		display: none;
	}
	.mmt-footer-bottom-arrow {
		display: none;
	}
	.mmt-footer-line-circle {
		display: none;
	}
	.mmt-footer-social-row {
		.mmt-footer-social-div {
			a {
				width: 8% !important;
			}
		}
	}
}
@media only screen and (max-width: 991px) {
	.Footer {
		.mmt-mobile-footer-location {
			display: block;
		}
		.mmt-footer-office-row {
			display: none;
		}
	}
}

@media only screen and (max-width: 992px) {
	.Footer {
		.mmt-footer-top-arrow {
			width: 32%;
			left: 6%;
		}
		.mmt-footer-bottom-arrow {
			width: 8%;
		}
		.mmt-footer-line-circle {
			position: absolute;
			top: 30px;
			right: 0px !important;
			width: 13%;
		}
		.mmt-footer-social-row {
			.mmt-footer-social-div {
				a {
					width: 13%;
				}
			}
		}
	}
}
@media only screen and (max-width: 1024px) {
	.Footer {
		.mmt-footer-line-circle {
			position: absolute;
			top: 30px;
			right: 0px;
			width: 12%;
		}
	}
}

@media only screen and (min-width: 1400px) {
	.Footer {
		.mmt-footer-top-arrow {
			width: 24%;
			left: 12%;
		}
		.mmt-footer-bottom-arrow {
			width: 5%;
		}
	}
}
